$circle-size: 11.3rem;

.our-achievements-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-input {
    background: $dark-2 !important;
    border: 1px solid $white-opacity-3 !important;
    color: $white-1 !important;
    padding: 28px 24px;
    width: 76%;
    font-size: 1.05rem;
    position: relative;
    border-radius: 32px;
    line-height: inherit;

    @media (max-width: 992px) {
      width: 90%;
    }

    &:focus, &:hover {
      box-shadow: none;
      transform: scale(1.005) !important;
    }
  }

  &-buttons {
    width: 76%;

    @media (max-width: 992px) {
      width: 90%;
    }

    &-button {
      background: $dark-2;
      padding: 10px 16px;
      border-radius: 90px;
      border: 1px solid $white-1;
      color: $white-1;
      transition: transform 0.2s ease, background-color 0.2s ease !important;
      font-size: 1.03rem;
      margin-top: 1.2rem;

      &.active {
        background: $white-1;
        color: #222;
        font-weight: 600;
      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.our-achievements-container {
  margin-top: 6.5rem;
  margin-bottom: 9rem;

  .row > [class^="col-"] {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
  }

  @media (min-width: 1400px) {
    .col-xxl-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333333%;
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  }

  &-item {
    height: 100%;
    width: 100%;
    color: $white-1;
    display: flex;
    border-radius: 6rem 2px 2px 6rem;
    background-color: $dark-2;
    box-shadow: 4px 3px 28px 0 rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease !important;
    cursor: pointer;

    @media (max-width: 400px) {
      border-radius: 6rem;
      flex-direction: column;
      align-items: center;
    }

    &:hover {
      transform: scale(1.02);
    }

    &-position {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $circle-size;
      width: $circle-size;
      border-radius: 50%;
      background-color: $white-1;
      font-size: 2rem;

      * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 6.5rem;
        font-family: "Bai Jamjuree Light", "Bai Jamjuree", Arial, sans-serif;
        font-weight: 300;
      }

      .gold {
        border: 6px solid rgba(223, 174, 36, 1);
        color: rgba(223, 174, 36, 1);
        box-shadow: 0 0 35px 0 rgba(223, 174, 36, 1);
        background-color: rgba(223, 174, 36, 0.1);
      }

      .silver {
        border: 6px solid rgba(192, 192, 192, 1);
        color: rgba(192, 192, 192, 1);
        box-shadow: 0 0 35px 0 rgba(192, 192, 192, 1);
        background-color: rgba(192, 192, 192, 0.1);
      }

      .bronze {
        border: 6px solid rgba(187, 151, 109, 1);
        color: rgba(187, 151, 109, 1);
        box-shadow: 0 0 35px 0 rgba(187, 151, 109, 1);
        background-color: rgba(187, 151, 109, 0.1);
      }

      .other {
        border: 6px solid rgba(101, 118, 148, 1);
        color: rgba(101, 118, 148, 1);
        box-shadow: 0 0 35px 0 rgba(101, 118, 148, 1);
        background-color: rgba(101, 118, 148, 0.1);
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: calc(100% - $circle-size);

      @media (max-width: 400px) {
        width: 100%;
      }

      h3, p {
        margin: 0 0 0 0.4rem;
        font-weight: 400;
        line-height: 1.45;

        @media (max-width: 400px) {
          margin: 0;
          text-align: center;
        }
      }

      h3 {
        font-size: 1.05rem;
        color: $white-1;
        letter-spacing: 0.5px;
      }

      p {
        font-size: 1.02rem;
        color: $gray-1;
        letter-spacing: 0.25px;
        margin-top: 0.22rem;
      }
    }
  }
}

