.single-project {
  margin-top: 3rem;

  &-bottom-image {
    width: 100%;
    margin-top: 4.5rem !important;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 3px;
      box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.3);
      transition: 0.3s ease !important;

      &:hover {
        box-shadow: 0 0 15px 3.5px rgba(255, 255, 255, 0.3);
      }
    }
  }

  &-other-projects {
    margin-top: 8rem !important;
    margin-bottom: 9rem;

    h3 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-family: "Bai Jamjuree Light", "Bai Jamjuree", Arial, sans-serif;
      font-size: 1.65rem;
    }

    &-project {
      position: relative;
      transition: 0.3s ease !important; // Important to overwrite AOS

      @media (max-width: 1200px) {
        &:nth-child(3) {
          display: none;
        }
      }

      @media (max-width: 992px) {
        &:nth-child(2) {
          display: none;
        }
      }

      &:hover {
        scale: 1.03;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.3);
        transition: 0.3s ease !important;

        &:hover {
          box-shadow: 0 0 15px 3.5px rgba(255, 255, 255, 0.3);
        }
      }

      &-content {
        position: absolute;
        left: 35px;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        &-title {
          font-family: "Bai Jamjuree Light", "Bai Jamjuree", Arial, sans-serif;
          color: #fff;
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 96px;
          letter-spacing: -0.5px;
          text-transform: uppercase;
        }
      }
    }
  }
}
